footer {
    background-color: var(--footer-background-color);
    display: flex;
    align-items: center;
    width: calc(100% - var(--body-margin) * 2);
    min-height: 30vh;
    padding: 0 var(--body-margin);
    color: white;
}

footer>* {
    margin-inline-end: 5vw;
}

.contact-links {
    padding: 0;
    margin-block-start: -1em;
}

.contact-icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, filter 0.3s ease;
    padding: .5em 2em .5em 0;
}

.contact-icons img:hover {
    transform: scale(1.2);
}

footer input.input-contact {
    font-size: 1.25rem;
    margin-inline-end: 1em;
    background: transparent;
    color: white;
    border: 0;
    border-block-end: 2px solid white;
    border-radius: 0;
}

footer input::placeholder {
    color: rgba(255, 255, 255, 0.798);
}

footer input:focus {
    color: rgba(255, 255, 255, 0.798);
}

button {
    font-size: 1em;
    padding: .25em .5em;
    border-radius: .25em;
    border: 0;
}

.contact-form {
    margin-block-start: 1.5em;
}

.contact-form .input-button {
    margin-block: 1rem;
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
        padding-block: var(--body-margin);
    }

    footer > * {
        margin-inline-end: 0;
        margin-block-end: 1rem;
    }

    footer input.input-contact {
        width: calc(100% - var(--body-margin) * 2);
    }

    .contact-links {
        width: 100%;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .contact-form .input-button button {
        margin-block: 2rem;
    }
}